# Practice

- Group Titanic Passengers by class and calculate average age
- Handle missing ages by filling with median

In [24]:
import pandas as pd
import seaborn as sns

dataset = sns.load_dataset('titanic')
df = pd.DataFrame(dataset)

# Remove duplicated entries
df.drop_duplicates(inplace=True)

# Group Titanic Passengers by class
grouped_df = df.groupby('class', observed=True).agg(
    mean_age=('age', 'mean')
)
print(grouped_df)

print()

median_age = df['age'].median()
print(f"The median age of this dataset is: {median_age}")

# Replace missing ages with median
df.fillna({"age" : median_age}, inplace = True)

         mean_age
class
First   38.310378
Second  29.898302
Third   25.180150

The median age of this dataset is: 28.25