## Homework

- Create a seaborn heatmap of correlations (numeric columns only). 
- Write a 1-paragraph summary of insights.

In [9]:
import pandas as pd
import seaborn as sns

dataset = sns.load_dataset('titanic')
df = pd.DataFrame(dataset)
df.drop_duplicates(inplace=True)

new_df = df[['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']].copy()
new_df.corr()

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.332658 -0.086548 -0.036589  0.070307  0.246769
pclass   -0.332658  1.000000 -0.369361  0.088014  0.040296 -0.549216
age      -0.086548 -0.369361  1.000000 -0.315116 -0.195036  0.092707
sibsp    -0.036589  0.088014 -0.315116  1.000000  0.381433  0.135147
parch     0.070307  0.040296 -0.195036  0.381433  1.000000  0.191942
fare      0.246769 -0.549216  0.092707  0.135147  0.191942  1.000000

Survived and pclass, age, parch and fare have weak to very weak correlations, a change in one is unlinkely to cause a significant change in the other. It seems like none of the columns have a good correlation between them.